* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1128px;
  height: 100%;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  list-style: none;
}

.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.form-container {
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form {
  background-color: white;
  width: 408px;
  border-radius: 8px;
  padding: 24px;
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.feedback-form label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form label input {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

.feedback-form label textarea {
  width: 100%;
  min-height: 80px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  resize: none;
  padding: 8px 16px;
}

.feedback-form label input:hover,
.feedback-form label textarea:hover {
  border: 1px solid black;
}

.feedback-form label input::placeholder,
.feedback-form label textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  border-radius: 8px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
